body {
	margin:0px;
	background-color:#161e27;
}

.rectangle {
	width: 100%;
	height: 15px;
	background-image: linear-gradient(to right, #02aed5, #6024b8 31%, #f2209a 54%, #ff8e00 75%, #ff8e00 89%, #fffc7b);
}

.content{
	width: 100%;
}


article {
	margin: 50px auto;
	max-width: 600px;
	color: #FFFFFF;
	font: 200 24px/1.5em 'Nunito', sans-serif;
	padding: 25px;
	font-weight: lighter;
	font-style: normal;
}

@media screen and (max-width: 700px) {
	article {
		margin: 25px auto;
		padding: 25px;
		width: auto;
		color: #FFFFFF;
		font: 200 48px/1.5em 'Nunito', sans-serif;
		font-weight: lighter;
	}
}

.title {
	font-weight:normal;
	font-size:42px;
	color: #FFFFFF;
	width: 100%;
 	margin: 0 auto;
}

@media screen and (max-width: 700px) {
	.title {
		width: auto;
		color: #FFFFFF;
		font: 200 48px/1.5em 'Nunito', sans-serif;
		line-height:100px;
		font-weight:normal;
	}
}


.mylist {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	list-style: none;

}

.footer-text {
	font-size: 22px;
	font-weight: lighter;
	line-height:45px;
}

@media screen and (max-width: 700px) {
	.footer-text {
		width: auto;
		color: #FFFFFF;
		font: 200 48px/1.5em 'Nunito', sans-serif;
		line-height:100px;
		font-weight: lighter;
	}
}

::selection {
	background: rgba(255, 216, 0, 0.99);
	color: #171F28;
}

a, a:link, a:visited {
	text-decoration: none;
	outline: none;
	padding: .4rem;
	color: #FFFFFF;
	background: #5BDAE2;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}
a:hover, a:active {
	text-decoration: none;
	outline: none;
	color: #FFFFFF;
	background: none;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}

.dribbble, a.dribbble:link, a.dribbble:visited {
	color: #FFFFFF;
	background: #ea4c89;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}

a.dribbble:hover, a.dribbble:active {
	color: #FFFFFF;
	background: none;
	-webkit-transition: background 500ms ease-out;
	-moz-transition: background 500ms ease-out;
	-o-transition: background 500ms ease-out;
	-ms-transition: background 500ms ease-out;
	transition: background 500ms ease-out;
}

.linkedin, a.linkedin:link, a.linkedin:visited {
	color: #FFFFFF;
	background: #0077B5;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}
a.linkedin:hover, a.linkedin:active {
	color: #FFFFFF;
	background: none;
	-webkit-transition: background 500ms ease-out;
	-moz-transition: background 500ms ease-out;
	-o-transition: background 500ms ease-out;
	-ms-transition: background 500ms ease-out;
	transition: background 500ms ease-out;
}

.hi, a.hi:link, a.hi:visited, a.hi:hover, a.hi:active {
	color: #FFFFFF;
	background-image: linear-gradient(-270deg, #f09433 0%, #e6683c 25%, #cc2366 75%, #bc1888 100%);
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}
a.hi:hover, a.hi:active {
	color: #FFFFFF;
	background: none;
	-webkit-transition: background 500ms ease-out;
	-moz-transition: background 500ms ease-out;
	-o-transition: background 500ms ease-out;
	-ms-transition: background 500ms ease-out;
	transition: background 500ms ease-out;

}

.behance, a.behance:link, a.behance:visited {
	color: #FFFFFF;
	background: #017CFF;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}
a.behance:hover, a.behance:active {
	color: #FFFFFF;
	background: none;
	-webkit-transition: background 500ms ease-out;
	-moz-transition: background 500ms ease-out;
	-o-transition: background 500ms ease-out;
	-ms-transition: background 500ms ease-out;
	transition: background 500ms ease-out;
}

.email, a.email:link, a.email:visited {
	color: #FFFFFF;
	background: #FFB026;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}
a.email:hover, a.email:active {
	color: #FFFFFF;
	background: none;
	-webkit-transition: background 500ms ease-out;
	-moz-transition: background 500ms ease-out;
	-o-transition: background 500ms ease-out;
	-ms-transition: background 500ms ease-out;
	transition: background 500ms ease-out;
}



