@font-face {
	font-family: 'nunito';
	font-weight: lighter;
	font-style: normal;
}
body {
	margin: 0px;
	padding: 0px;
	background: #F5F5F5;
	color: #999;
	font: 200 48px/1.5em 'nunito', sans-serif;
}

.box {
	width:132px;
	height:8px;
	background-image: linear-gradient(to right, #d1a9ec, #26dbda 25%, #62dfbb 37%, #ace37f 56%, #ffc784 80%, #fd81ca);
}

.mylist {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	list-style: none;

}

@media screen and (max-width: 700px) {
.box {
	width:175px;
}
}

.footer-text {
	line-height:60px;
}

@media screen and (max-width: 700px) {
.footer-text {
	line-height:80px;
}
}

a, a:link, a:visited {
	text-decoration: none;
	outline: none;
	padding: .4rem;
	color: #FFFFFF;
	background: #5BDAE2;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}
a:hover, a:active {
	text-decoration: none;
	outline: none;
	color: #A1B2B3;
	background: none;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}

}
.robin, a.robin:link, a.robin:visited {
	color: #FFFFFF;
	background: #00DCEC;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}
a.robin:hover, a.robin:active {
	color: #A1B2B3;
	background: none;
	-webkit-transition: background 500ms ease-out;
	-moz-transition: background 500ms ease-out;
	-o-transition: background 500ms ease-out;
	-ms-transition: background 500ms ease-out;
	transition: background 500ms ease-out;
}
.linkedin, a.linkedin:link, a.linkedin:visited {
	color: #FFFFFF;
	background: #29BAFF;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}
a.linkedin:hover, a.linkedin:active {
	color: #29BAFF;
	background: none;
	-webkit-transition: background 500ms ease-out;
	-moz-transition: background 500ms ease-out;
	-o-transition: background 500ms ease-out;
	-ms-transition: background 500ms ease-out;
	transition: background 500ms ease-out;
}
.instagram, a.instagram:link, a.instagram:visited {
	color: #FFFFFF;
	background: #FF9583;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}
a.instagram:hover, a.instagram:active {
	color: #FF9583;
	background: none;
	-webkit-transition: background 500ms ease-out;
	-moz-transition: background 500ms ease-out;
	-o-transition: background 500ms ease-out;
	-ms-transition: background 500ms ease-out;
	transition: background 500ms ease-out;
}

.dribbble, a.dribbble:link, a.dribbble:visited {
	color: #FFFFFF;
	background: #FD81CA;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}
a.dribbble:hover, a.dribbble:active {
	color: #FD81CA;
	background: none;
	-webkit-transition: background 500ms ease-out;
	-moz-transition: background 500ms ease-out;
	-o-transition: background 500ms ease-out;
	-ms-transition: background 500ms ease-out;
	transition: background 500ms ease-out;
}

.lavender, a.lavender:link, a.lavender:visited {
	color: #FFFFFF;
	background: #D596FF;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}
a.lavender:hover, a.lavender:active {
	color: #A1B2B3;
	background: none;
	-webkit-transition: background 500ms ease-out;
	-moz-transition: background 500ms ease-out;
	-o-transition: background 500ms ease-out;
	-ms-transition: background 500ms ease-out;
	transition: background 500ms ease-out;
}
img {
	max-width: 100%;
	height: auto;
	border: 0px;
}
li, ul {
	list-style: disc;
}
article {
	margin: 25px auto;
	padding: 25px;
	width: 500px;
	color: #777;
	font: 200 32px/1.5em 'nunito', sans-serif;
}
@media screen and (max-width: 700px) {
article {
	margin: 25px auto;
	padding: 25px;
	width: auto;
	color: #777;
	font: 200 40px/1.5em 'nunito', sans-serif;
}
}
::selection {
	background: #FFE87B;
	color: #777;
}
::-moz-selection {
	background: #FFE87B;
	color: #777;
}